# Documentacion y Analisis
/ANALISIS-BACKEND.md
/GUIA-IMPLEMENTACION-FRONTEND.md
/GUIA-IMPLEMENTACION.md
/guia-implentacion.md
/roadmap.md
/mer-todo.drawio.png

# Dependencias
**/node_modules/

# Compilacion
**/dist/
**/build/

# Variables de entorno
**/.env
**/.env.local

# Otros
.DS_Store
*.log
